<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [8]:
# Read CSV
wine_csv = pd.read_csv('winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [15]:
# ANSWER
wine_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [11]:
wine_csv.describe()

       fixed acidity  volatile acidity  ...      quality     red_wine
count    6497.000000       6497.000000  ...  6497.000000  6497.000000
mean        7.215307          0.339666  ...     5.818378     0.246114
std         1.296434          0.164636  ...     0.873255     0.430779
min         3.800000          0.080000  ...     3.000000     0.000000
25%         6.400000          0.230000  ...     5.000000     0.000000
50%         7.000000          0.290000  ...     6.000000     0.000000
75%         7.700000          0.400000  ...     6.000000     0.000000
max        15.900000          1.580000  ...     9.000000     1.000000

[8 rows x 13 columns]

### 2. Set Target Variable

Create a target variable for wine quality.

In [33]:
# Target Variable
wine_quality = wine_csv.quality

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [34]:
# ANSWER
wine_corr=wine_csv.corr() # finding correlation of the dataset
print(wine_corr.quality)  # correlation column with quality

fixed acidity          -0.076743
volatile acidity       -0.265699
citric acid             0.085532
residual sugar         -0.036980
chlorides              -0.200666
free sulfur dioxide     0.055463
total sulfur dioxide   -0.041385
density                -0.305858
pH                      0.019506
sulphates               0.038485
alcohol                 0.444319
quality                 1.000000
red_wine               -0.119323
Name: quality, dtype: float64

In [35]:
wine_corr['quality_corr_abs'] = np.abs(wine_corr['quality']) # duplicating quality column with absolute number to a new column
wine_corr.quality_corr_abs.sort_values(ascending=False)      # sorting and choose top 3 for correlation to quality

quality                 1.000000
alcohol                 0.444319
density                 0.305858
volatile acidity        0.265699
chlorides               0.200666
red_wine                0.119323
citric acid             0.085532
fixed acidity           0.076743
free sulfur dioxide     0.055463
total sulfur dioxide    0.041385
sulphates               0.038485
residual sugar          0.036980
pH                      0.019506
Name: quality_corr_abs, dtype: float64

In [36]:
predictor_x = wine_csv[['alcohol', 'density','volatile acidity']] # creating the predictor variable
predictor_x

      alcohol  density  volatile acidity
0         9.4  0.99780              0.70
1         9.8  0.99680              0.88
2         9.8  0.99700              0.76
3         9.8  0.99800              0.28
4         9.4  0.99780              0.70
...       ...      ...               ...
6492     11.2  0.99114              0.21
6493      9.6  0.99490              0.32
6494      9.4  0.99254              0.24
6495     12.8  0.98869              0.29
6496     11.8  0.98941              0.21

[6497 rows x 3 columns]

### 4. Using Linear Regression Create a Model and Test Score

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [38]:
# Train-Test Split

predictor_x_train, predictor_x_test, wine_quality_train, wine_quality_test = train_test_split(predictor_x, wine_quality, test_size=0.20, random_state=42)

In [41]:
# Create a model for Linear Regression
line_reg = LinearRegression()

# Fit the model with the Training data
line_reg.fit(predictor_x_train, wine_quality_train)
# Calculate the score (R^2 for Regression) for Training Data
print(line_reg.score(predictor_x_train,wine_quality_train))
# Calculate the score (R^2 for Regression) for Testing Data
print(line_reg.score(predictor_x_test,wine_quality_test))

0.27078026676393185
0.2519667708304062

### BONUS: Cross validation

In [42]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [45]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for train, test in k_fold.split(predictor_x):
  print('train: %s, \ntest: %s' % (predictor_x_train, predictor_x_test))
    
    # Get training and test sets for X and y
    
    # Fit model with training set
    
    # Make predictions with training and test set
    
    # Score R2 and RMSE on training and test sets and store in list
    
# Create a metrics_df dataframe to display r2 and rmse scores

train:       alcohol  density  volatile acidity
1916     10.5  0.99380             0.240
947      12.4  0.99408             0.280
877      11.8  0.99371             0.715
2927     11.7  0.99020             0.370
6063      9.3  0.99810             0.260
...       ...      ...               ...
3772      9.2  0.99990             0.320
5191     10.7  0.99202             0.280
5226      9.5  0.99459             0.370
5390      9.5  0.99536             0.260
860       9.5  0.99746             0.620

[5197 rows x 3 columns],
test:       alcohol  density  volatile acidity
3103     12.2  0.99420             0.170
1419      9.9  0.99560             0.640
4761     12.0  0.99212             0.390
4690      9.5  0.99592             0.280
4032      8.9  0.99888             0.350
...       ...      ...               ...
889       9.3  1.00289             0.900
2850      9.3  0.99270             0.245
4917     12.4  0.98962             0.160
5198      9.4  0.99787             0.390
5643      8.7  0.99840             0.160

[1300 rows x 3 columns]
train:       alcohol  density  volatile acidity
1916     10.5  0.99380             0.240
947      12.4  0.99408             0.280
877      11.8  0.99371             0.715
2927     11.7  0.99020             0.370
6063      9.3  0.99810             0.260
...       ...      ...               ...
3772      9.2  0.99990             0.320
5191     10.7  0.99202             0.280
5226      9.5  0.99459             0.370
5390      9.5  0.99536             0.260
860       9.5  0.99746             0.620

[5197 rows x 3 columns],
test:       alcohol  density  volatile acidity
3103     12.2  0.99420             0.170
1419      9.9  0.99560             0.640
4761     12.0  0.99212             0.390
4690      9.5  0.99592             0.280
4032      8.9  0.99888             0.350
...       ...      ...               ...
889       9.3  1.00289             0.900
2850      9.3  0.99270             0.245
4917     12.4  0.98962             0.160
5198      9.4  0.99787             0.390
5643      8.7  0.99840             0.160

[1300 rows x 3 columns]
train:       alcohol  density  volatile acidity
1916     10.5  0.99380             0.240
947      12.4  0.99408             0.280
877      11.8  0.99371             0.715
2927     11.7  0.99020             0.370
6063      9.3  0.99810             0.260
...       ...      ...               ...
3772      9.2  0.99990             0.320
5191     10.7  0.99202             0.280
5226      9.5  0.99459             0.370
5390      9.5  0.99536             0.260
860       9.5  0.99746             0.620

[5197 rows x 3 columns],
test:       alcohol  density  volatile acidity
3103     12.2  0.99420             0.170
1419      9.9  0.99560             0.640
4761     12.0  0.99212             0.390
4690      9.5  0.99592             0.280
4032      8.9  0.99888             0.350
...       ...      ...               ...
889       9.3  1.00289             0.900
2850      9.3  0.99270             0.245
4917     12.4  0.98962             0.160
5198      9.4  0.99787             0.390
5643      8.7  0.99840             0.160

[1300 rows x 3 columns]
train:       alcohol  density  volatile acidity
1916     10.5  0.99380             0.240
947      12.4  0.99408             0.280
877      11.8  0.99371             0.715
2927     11.7  0.99020             0.370
6063      9.3  0.99810             0.260
...       ...      ...               ...
3772      9.2  0.99990             0.320
5191     10.7  0.99202             0.280
5226      9.5  0.99459             0.370
5390      9.5  0.99536             0.260
860       9.5  0.99746             0.620

[5197 rows x 3 columns],
test:       alcohol  density  volatile acidity
3103     12.2  0.99420             0.170
1419      9.9  0.99560             0.640
4761     12.0  0.99212             0.390
4690      9.5  0.99592             0.280
4032      8.9  0.99888             0.350
...       ...      ...               ...
889       9.3  1.00289             0.900
2850      9.3  0.99270             0.245
4917     12.4  0.98962             0.160
5198      9.4  0.99787             0.390
5643      8.7  0.99840             0.160

[1300 rows x 3 columns]
train:       alcohol  density  volatile acidity
1916     10.5  0.99380             0.240
947      12.4  0.99408             0.280
877      11.8  0.99371             0.715
2927     11.7  0.99020             0.370
6063      9.3  0.99810             0.260
...       ...      ...               ...
3772      9.2  0.99990             0.320
5191     10.7  0.99202             0.280
5226      9.5  0.99459             0.370
5390      9.5  0.99536             0.260
860       9.5  0.99746             0.620

[5197 rows x 3 columns],
test:       alcohol  density  volatile acidity
3103     12.2  0.99420             0.170
1419      9.9  0.99560             0.640
4761     12.0  0.99212             0.390
4690      9.5  0.99592             0.280
4032      8.9  0.99888             0.350
...       ...      ...               ...
889       9.3  1.00289             0.900
2850      9.3  0.99270             0.245
4917     12.4  0.98962             0.160
5198      9.4  0.99787             0.390
5643      8.7  0.99840             0.160

[1300 rows x 3 columns]

In [ ]:
# Describe the metrics

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

In [52]:
def func_line_model(df,predictor,target='quality'):
    X = df[predictor]
    y = df[target]
    func_regr = LinearRegression()
    func_regr.fit(X,y)
    return func_regr,X,y

In [54]:
alcohol_regr, alcohol_X, alcohol_y = func_line_model(wine_csv,['alcohol'])
alcohol_regr, alcohol_X, alcohol_y
alcohol_regr.score(alcohol_X,alcohol_y)

0.1974189472217911

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---